{% extends "layout.html" %}
{% block content %}
	{% for team in teams.items %}
		<article class="media-list">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#"> Teams </a>
		    </div>
		    <h2><a class="article-teamname" href="{{url_for('teams.team', team_id= team.id )}}">{{ team.teamname }}</a></h2>
		    <p class="article-captain"> Team Captain: {{ team.captain }}</p>
		  </div>
		</article>
	{% endfor %}
	{% for page_num in teams.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if teams.page == page_num %}
				<a class="btn btn-info mb-4 " href="{{ url_for('main.home', page=page_num) }}"> {{ page_num }} </a> 
			{% else %}
				<a class="btn btn-outline-info mb-4 " href="{{ url_for('main.home', page=page_num) }}"> {{ page_num }} </a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}
{%endblock content %}